<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>
</head>
<body>
<!--&lt;!&ndash;/* Standard layout can be mixed with Layout Dialect */&ndash;&gt;-->
<!--<div th:replace="fragments/header :: header">-->
<!--</div>-->
<div class="container">
    <div layout:fragment="content">
        <p>
            Empty
        </p>
    </div>
    <!--<div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>-->
</div>
</body>
</html>